# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQL Server and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
PORT=4000
JWT_PUBLIC_KEY="/keys/__"
JWT_PRIVATE_KEY="/keys/__"
ENVIRONMENT_NAME="development"
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFICATION_SERVICE_SID=
APOLLO_KEY=
APOLLO_GRAPH_ID=
APOLLO_GRAPH_VARIANT=
APOLLO_SCHEMA_REPORTING=

